/*Generics----------------------------------------------------------------------
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/
p{
    color: blue;
}
button {
    border: none;
    outline: none;
    outline: 0;
    background-color: transparent;
}

/*navigation Panel--------------------------------------------------------------
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/
#navigation-panel{
    direction:rtl;
    position: fixed;
    height: 100%;
    width: 200px;
    left: -200px;
    top: 0px;
    text-align: center;
    background-color: magenta;
    overflow: auto;

    overflow: hidden;
    z-index: 10000;
}

#links{
    position: relative;
    height: 40%;
    width: 100%;
}
#navContent{
    position: absolute;
    top: 40%;
    height: 60%;
    width: 200px;

}

/*navigation Panel "Space"------------------------------------------------------
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/
#rocketImage{
    position: absolute;
    height: 90%;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0%);
}
#middleRocketImage{
    position: absolute;
    height: 90%;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0%);
}
#leftRocketImage{
    position: absolute;
    height: 90%;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0%);
}
#rightRocketImage{
    position: absolute;
    height: 90%;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0%);
}
#launchPadImage{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0%);
    z-index: 4;
}
#launchButton{
    background: #550000;
    color: #E70000;
    font-family: orbitron;
    position: absolute;
    width: 50%;
    height: 9%;
    left: 50%;
    bottom: 1%;
    z-index: 5;
    transform: translate(-50%, 0%);
}
@keyFrames launchRocket{
    0%{transform:  translate(-51%);}
    2%{transform:  translate(-49%);}
    4%{transform:  translate(-51%);}
    8%{transform:  translate(-49%);}
    10%{transform:  translate(-51%);}
    12%{transform:  translate(-49%);}
    14%{transform:  translate(-51%);}
    18%{transform:  translate(-49%);}
    20%{transform:  translate(-51%);}
    22%{transform:  translate(-49%);}
    24%{transform:  translate(-51%);}
    26%{transform:  translate(-49%);}
    28%{transform:  translate(-51%);}
    30%{transform:  translate(-49%);}
    32%{transform:  translate(-51%);}
    34%{transform:  translate(-49%);}
    36%{transform:  translate(-51%);}
    38%{transform:  translate(-49%);}
    40%{transform:  translate(-51%);}
    42%{transform:  translate(-49%);}
    44%{transform:  translate(-51%);}
    48%{transform:  translate(-49%);}
    50%{transform:  translate(-50%);}
    70%{transform:  translate(-50%,-150%);}
    100%{transform:  translate(-50%,-200%);}
}
@keyFrames launchRocketLeftBooster{
    0%{transform:  translate(-51%);}
    2%{transform:  translate(-49%);}
    4%{transform:  translate(-51%);}
    8%{transform:  translate(-49%);}
    10%{transform:  translate(-51%);}
    12%{transform:  translate(-49%);}
    14%{transform:  translate(-51%);}
    18%{transform:  translate(-49%);}
    20%{transform:  translate(-51%);}
    22%{transform:  translate(-49%);}
    24%{transform:  translate(-51%);}
    26%{transform:  translate(-49%);}
    28%{transform:  translate(-51%);}
    30%{transform:  translate(-49%);}
    32%{transform:  translate(-51%);}
    34%{transform:  translate(-49%);}
    36%{transform:  translate(-51%);}
    38%{transform:  translate(-49%);}
    40%{transform:  translate(-51%);}
    42%{transform:  translate(-49%);}
    44%{transform:  translate(-51%);}
    48%{transform:  translate(-49%);}
    50%{transform:  translate(-50%);}
    70%{transform:  translate(-50%,-150%);}
    100%{transform:  translate(-300%,50%) rotate(-45deg)}
}
@keyFrames launchRocketRightBooster{
    0%{transform:  translate(-51%);}
    2%{transform:  translate(-49%);}
    4%{transform:  translate(-51%);}
    8%{transform:  translate(-49%);}
    10%{transform:  translate(-51%);}
    12%{transform:  translate(-49%);}
    14%{transform:  translate(-51%);}
    18%{transform:  translate(-49%);}
    20%{transform:  translate(-51%);}
    22%{transform:  translate(-49%);}
    24%{transform:  translate(-51%);}
    26%{transform:  translate(-49%);}
    28%{transform:  translate(-51%);}
    30%{transform:  translate(-49%);}
    32%{transform:  translate(-51%);}
    34%{transform:  translate(-49%);}
    36%{transform:  translate(-51%);}
    38%{transform:  translate(-49%);}
    40%{transform:  translate(-51%);}
    42%{transform:  translate(-49%);}
    44%{transform:  translate(-51%);}
    48%{transform:  translate(-49%);}
    50%{transform:  translate(-50%);}
    70%{transform:  translate(-50%,-150%);}
    100%{transform:  translate(250%,50%) rotate(45deg)}
}

/*navigation Panel "Notebook"---------------------------------------------------
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/
#red{
    position: absolute;
    top: 0;
    left: 20px;
    height: 10%;
    width: 160px;
    background-color: white;
    border-radius: 10%;
}
#redLabel{
    position: absolute;
    top: 0;
    left: 0%;
    height: 10%;
    width: 20px;
}
#redRange{
    position: absolute;
    top: 50%;
    left: 20px;
    height: 10%;
    width: 130px;
    transform: translateY(-50%);
}
#green{
    position: absolute;
    top: 15%;
    left: 20px;
    height: 10%;
    width: 160px;
    background-color: white;
    border-radius: 10%;
}
#greenLabel{
    position: absolute;
    top: 0;
    left: 0%;
    height: 10%;
    width: 20px;
}
#greenRange{
    position: absolute;
    top: 50%;
    left: 20px;
    height: 10%;
    width: 130px;
    transform: translateY(-50%);
}
#blue{
    position: absolute;
    top: 30%;
    left: 20px;
    height: 10%;
    width: 160px;
    background-color: white;
    border-radius: 10%;
}
#blueLabel{
    position: absolute;
    top: 0;
    left: 0%;
    height: 10%;
    width: 20px;
}
#blueRange{
    position: absolute;
    top: 50%;
    left: 20px;
    height: 10%;
    width: 130px;
    transform: translateY(-50%);
}
#size{
    position: absolute;
    top: 45%;
    left: 20px;
    height: 10%;
    width: 160px;
    background-color: white;
    border-radius: 10%;
}
#sizeLabel{
    position: absolute;
    top: 0;
    left: 0%;
    height: 10%;
    font-size: 12px;
    width: 40px;
}
#drawWidthRange{
    position: absolute;
    top: 50%;
    left: 45px;
    height: 10%;
    width: 105px;
    transform: translateY(-50%);
}
#penColorDisplay{
    position: absolute;
    left:50%;
    top:60%;
    width:100px;
    height:100px;
    border:1px solid #000000;
    background-color: white;
    transform: translateX(-50%);
}
#penSizeDisplay{
    position: absolute;
    height: 2px;
    width: 2px;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    background-color: black;
    transform: translate(-50%, -50%);
}

#toolToggle{
    position: absolute;
    bottom: 2%;
    left: 10px;
    height: 10%;
    width: 180px;
    background-color: white;
    border-radius: 10%;
}
#pencilToggle{
    position: absolute;
    height: 10px;
    width: 30px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: blue;
    border-radius: 10%;
}
#toolSwitch{
    position: absolute;
    height: 8px;
    width: 13px;
    left: 1px;
    top: 1px;
    background-color: grey;
    border-radius: 10%;
}
#pencilActive{
    position: absolute;
    left: 5%;
}
#eraserActive{
    position: absolute;
    right: 5%;
}







#toggle-nav{
    position: fixed;
    top: 50%;
    height: 50px;
    width: 10px;
    font-size: 40px;
    transform: translate(0, -50%);
    z-index: 1000;
}

#page-body{
    font-family: 'Exo 2';
    position: relative;
    width: 100%;
    text-align: center;
}

/*Page Header "Space"-----------------------------------------------------------
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/
#pageHeader{
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 1;
    background-color: black;
    overflow: hidden;
}
#nameHeader{
    position: absolute;
    max-width: 60%;
    bottom: 50%;
    left: 30%;
    z-index: 100000;
}
#softwareDeveloperText{
    position: absolute;
    width: 60%;
    bottom: 50%;
    left: 40%;
    z-index: 100000;
    font-size: 30px;
}
#starSpace {
    position: absolute;
    width: 100%;
    height: 100%;

}
#solarSystem{
    position:  absolute;
    height: 80%;
    max-width: 100%;
    left: 25%;
    top: 25%;
    background-color: transparent;
    z-index: 100;
}
#solarSystem div{
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    animation: spin infinite linear;
    background-color: transparent;
}
#sunImage{
    position:absolute;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
#asteroidBeltImage{
    position:absolute;
    height: 100%;
    width: 100%;
    z-index: 10000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#spaceRocket{
    position: absolute;
    width: 100%;
    height:100%;

    z-index: 200000000;
}
#rocketSpaceImage2{
    width: 5%;
    position: absolute;
    right: 60%;
    bottom:-54%;
    z-index: 1000002;
}
@keyFrames moonLanding{
    0%{bottom: 100%;}
    100%{bottom: 54%; transform: scale(.6)}
}



/*About "Notebook"--------------------------------------------------------------
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/

#about{
    position: relative;
    width: 100%;
    z-index: 2;
}
#notebookSketch{
    position: absolute;
    left:0;
    width:100%;
    z-index: 3;
}
#noteBookPaper{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
}
#notebookTop{
    position: relative;
    width: 100%;
    height: 107px;
    margin: 0;
    padding: 0;
}
#notebookLine{
    position: relative;
    width: 100%;
    height: 40px;
    margin: 0;
    padding: 0;
}
#pencil{
    position: absolute;
    width: 429px;
    height: 25px;
    transform: rotate(-45deg);
    background-image: url(images/pencil.png);
    left: 0;
    z-index: 4;
}
#pencilColor{
    position: absolute;
    left:14%;
    width: 78%;
    height: 25px;
    background-color: black;
}
#aboutHeader{
    font-family: Neucha;
    position: absolute;
    left: 50%;
    padding-left: 10%; 
    transform: translate(-50%);
    top: 35px;
    font-size: 50px;
    z-index: 2;
    white-space: nowrap;
}
#aboutText{
    font-family: Neucha;
    position: absolute;
    left:10%;
    margin-right: 5%;
    top: 110px;
    font-size: 30px;
    line-height: 40px;
    z-index: 2;
}

















#proj{
    position: relative;
    background-color: green;
    z-index: 3;
    overflow: hidden;
}
#javaQuizJSF{
    position: relative;
    background-color: red;
    z-index: 4;
    padding: 10% 0px 20% 0px;
    overflow: hidden;
}
#javaQuizJSF h1{
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translate(-50%, 0);
}
#javaQuizJSFDesc{
    position: absolute;
    background-color: pink;
    height: 70%;
    width: 45%;
    left: 5%;
    top: 20%;
}
#javaQuizJSFImages{
    position: absolute;
    background-color: blue;
    height: 70%;
    width: 40%;
    right: 5%;
    top: 20%;
}
#javaQuizJSFImages img{
    height: 90%;
}
#javaQuizJSFLeft{
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0, -50%);
}
#javaQuizJSFRight{
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(0, -50%);
}
#pomodoro{
    position: relative;
    background-color: orange;
    z-index: 5;
    overflow: hidden;
}
#simon{
    position: relative;
    background-color: grey;
    z-index: 6;
    overflow: hidden;
}
#skills{
    position: relative;
    background-color: blue;
    z-index: 7;
    overflow: hidden;
}
#contact{
    position: relative;
    background-color: purple;
    z-index: 8;
    overflow: hidden;
}


@-webkit-keyframes openNav {
    from {left: -200px;}
    to {left: 0px;}
}
@-webkit-keyframes openBody {
    from {left: 0px;}
    to {left: 200px;}
}
@-webkit-keyframes openBtn {
    from {left: 0px;}
    to {left: 200px;}
}
@-webkit-keyframes closeNav {
    from {left: 0px;}
    to {left: -200px;}
}
@-webkit-keyframes closeBody {
    from {left: 200px;}
    to {left: 0px;}
}
@-webkit-keyframes closeBtn {
    from {left: 200px;}
    to {left: 0px;}
}
@-moz-keyframes openNav {
    from {left: -200px;}
    to {left: 0px;}
}
@-moz-keyframes openBody {
    from {left: 0px;}
    to {left: 200px;}
}
@-moz-keyframes openBtn {
    from {left: 0px;}
    to {left: 200px;}
}
@-moz-keyframes closeNav {
    from {left: 0px;}
    to {left: -200px;}
}
@-moz-keyframes closeBody {
    from {left: 200px;}
    to {left: 0px;}
}
@-moz-keyframes closeBtn {
    from {left: 200px;}
    to {left: 0px;}
}


body::-webkit-scrollbar {
    width: 1em;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}
#navigation-panel::-webkit-scrollbar {
    width: 1em;
}

#navigation-panel::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

#navigation-panel::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}




@-webkit-keyframes radiate{
    0% {transform: scale(.9); opacity: 1;}
    50% {transform: scale(1); opacity: .1;}
    100% {transform: scale(.9); opacity: 1;}
}
@-webkit-keyframes glow{
    0% {opacity: 1;}
    50% {opacity: .2}
    100% {opacity: 1;}
}


/*

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
*/
@keyframes spin {
    0% {transform:    translate(-50%, -50%) rotate(90deg);}
    100% {transform:  translate(-50%, -50%) rotate(450deg) ;}

}

